.heroWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 8rem 0;
  padding: 0 12.5rem;
}

.heroWrapper h1,
.heroWrapper p,
.heroWrapper span {
  color: var(--font-white);
}

.rewards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1rem;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem;
  max-width: 540px;
}

/* Mobile */
@media (max-width: 700px) {
  .heroWrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
  }

  .content {
    max-width: 90vw;
    width: 100%;
  }

  .rewards img {
    height: 24px;
    width: auto;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1366px) {
  .heroWrapper {
    margin: 2rem;
    padding: 2rem;
  }
}
